<div class="container">
    
    <div class="row justify-content-center">
    <div class="about row justify-content-center">
        <div class="row justify-content-center py-3">
            <h5>*About this webpage*</h5>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-5">
                <p>
                      Having over 2 million people from overseas as a resident, 
                    it is an urgent matter for Japan to provide them a sufficient support to live.
                </p>
                <p>
                      Though it's getting improved, systems, instructions and mindset here are not enough oriented 
                    to those who did not grow up in Japan and do not understand the language.</br>
                    Some people from overseas do not know where and how to ask for help, 
                    no friends to hang out and feel isolated and do not know the unspoken rules and confused.</br>
                </p>
                <p>
                      Japan is a great country with a lot of beautiful natures, 
                    pop cultures, histories, traditions, good foods and ramens (needless to say!).</br>
                    We want people from overseas to enjoy and like waht we have here once they come.</br>
                    Wish we could give a little help to those who are lost in translation!
                </p>
            </div>
        </div>
    </div>
    </div>
</div>