<!--M:Indent fixed-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-center">
      <div class="about row justify-content-center">
        <div class="col-md-10 justify-content-center">
          <div class="row justify-content-center py-3">
            <h5>*Tips for J lifeについて*</h5>
          </div>
          <div class="row justify-content-center">
            <p>
              200万人以上の外国人が暮らす中、彼らに必要なサポートを提供することは日本の喫緊の課題となっています。
            </p>
            <p>
              整備が進んではいるものの、各種手続きや多言語表示対応、民族多様性に対するマインドセット等、
              日本語を話さず外国で育った方々への配慮がまだまだ不十分であると感じます。</br>
              外国人の中には、問題が起こった際にどこに助けを求めて良いか分からない、
              明文化されていない日本の作法が分からず困惑し、頼れる人もいない方も大勢います。
            </p>
            <p>
              日本は自然も美しく、サブカルチャーや歴史、伝統、美味しい食べ物（特にラーメンは。）が豊富な
              世界に誇れる国です。</br>
              十分なサポートを受けられないために、日本を十分に楽しめない、
              日本を嫌いになってしまったと聞くと、悲しい気持ちになります。</br>
              来ていただいたからには、外国人には日本を満喫し、好きになってもらいたい。そんな思いから
              Tips for J lifeの製作にいたりました。
            </p>
            <p>
              トップページの背景はオリジナルのデザインです。それぞれの玉が異なる色の玉たちと
              混ざっていくように、様々な背景を持つ人たちが一緒になって暮らせたら、という願いを込めて作りました。
            </p>
            <p>
              Tips for J lifeのゴールは、外国人、特に日本社会に馴染めないと感じている方々にとって
              インクルーシブな社会を作ることです。</br>
              それは、お互いが少しずつ助け合うことで実現する社会だと信じています。
            </p>
            <p>
              少しでも、日本の中で「迷子」になっている方々の助けになりますように。
            </p>
          </div>
          <div class="row justify-content-center">
            <p><h4 class="text-center">Happy J life!</h4></p>
          </div>
          <div class="row justify-content-center pb-3">
            <div class="offset-6"><h6>-Tips for J life製作者より-</h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>