<!--M:Indent fixed-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-center">
      <div class="about row justify-content-center">
        <div class="col-md-10 justify-content-center">
          <div class="row justify-content-center py-3">
            <h5>*About Tips for J life*</h5>
          </div>
          <div class="row justify-content-center">
            <p>
              Having over 2 million people from overseas as a resident, 
              it is an urgent matter for Japan to provide them a sufficient support to live.
            </p>
            <p>
              Though it's getting improved, systems, multi-language instructions and mindset here are not enough oriented 
              to those who did not grow up in Japan and do not understand the language.</br>
              Some people from overseas do not know where and how to ask for help, 
              no friends to hang out and feel isolated and do not know the unspoken rules and confused.
            </p>
            <p>
              Japan is a great country with a lot of beautiful natures, 
              pop cultures, histories, traditions, good foods and ramens (needless to say!).</br>
              It is sad to hear people cannot enjoy what we have or dislike Japan due to the lack of support.</br>
              We want people from overseas to enjoy and like what we have once they come.</br>
              That spirit led us to create Tips for J life.
            </p>
            <p>
              The top page background represents the unity of people from different background,
              as each color mingles with the different color groups.</br>
              Our goal of this webpage is to help building an inclusive society for foreigners,
              especially for those who may be feeling excluded from Japanese society.</br>
              We believe, with a little more help from each other, we could reach our goal!
            </p>
            <p>
              Wish we could give a little help to those who are lost in translation!
            </p>
          </div>
          <div class="row justify-content-center">
            <p><h4 class="text-center">Happy J life!</h4></p>
          </div>
          <div class="row justify-content-center pb-3">
            <div class="offset-6"><h6>-Team Tips for J life-</h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 pt-4">
      *日本語は<u><%= link_to "こちら", about_japanese_path, class:"text-dark" %></u>
    </div>
  </div>
</div>