<div>
<h1>Tips For J Life</h1>
</div>

<div>
<h4>Feeling difficulty and confused to living in Japan?</h4>
<h4>Bored on weekends?</h4>

<p>
  Here you can get tips to make your life i Japan easier and fun!</br>
  In this webpage, you may</br>
  <li>
      post your problems and get some tips from other users
  </li>
  <li>
      help out other buddies having problems by giving comments to their posts
  </li>
  <li>
      make events to get people to enjoy together
  </li>
  <li>
      seek for events and join
  </li>
  <h4>Sign up and start having a fun J life!</h4>
</p>
</div>

<div>
<p>
  3 simple rules here!</br>
  We have a lot of people from different backgrounds.
  <li>Appreciates the difference</li>
  <li>Do not use aggressive words</li>
  <li>No hate speech / no racisms are allowed</li>
</p>
</div>