<div class="container top">

  <div class="row logo justify-content-center py-3">
    <h2>Tips for J Life</h2>
  </div>
  
    <div class="text-center">
      <h5>Feeling difficulty and confused to living in Japan?</h5></br>
      <h5>Bored on weekends?</h5>
    </div>
    
      <p>
        Here you can get tips to make your life i Japan easier and fun!</br>
        In this webpage, you may</br>
        <div></div>
        <li>
            post your problems and get some tips from other users
        </li>
        <li>
            help out other buddies having problems by giving comments to their posts
        </li>
        <li>
            make events to get people to enjoy together
        </li>
        <li>
            seek for events and join
        </li>
        <h4>Sign up and start having a fun J life!</h4>
      </p>
    
    <div>
    <p>
      3 simple rules here!</br>
      We have a lot of people from different backgrounds.
      <li>Appreciates the difference</li>
      <li>Do not use aggressive words</li>
      <li>No hate speech / no racisms are allowed</li>
    </p>
    </div>
</div>