<div class="container-fluid top">
  <div class="row text-center mx-1">
      <div class="flash-message notice"><%= flash[:notice] %></div>
  </div>


<div class="row justify-content-center">
 <div class="top-bg col-md-6 my-4">
  <div class="row logo justify-content-center py-3">
    <div>
    <h2>Tips for J Life</h2>
    </div>
  </div>
  
    <div class="pb-3 row justify-content-center">
      <h5>Feeling difficulty and confused to living in Japan?</h5>
    </div>
    <div class="pb-3 row justify-content-center">
      <h5>Bored on weekends?</h5>
    </div>
    
    <div class="row justify-content-center">
     <div class="col-md-12">
      <p>Here you can get tips to make your life in Japan easier and fun!</br>
        In this webpage, you may</p>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-12">
        <li>
            post your problems and get some tips from other users
        </li>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <li>
            help out other buddies having problems by giving comments to their posts</br>
        </li>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <li>
            make events to get people to enjoy together</br>
        </li>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <li>
            seek for events and join</br>
        </li>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
        <h4>Sign up and start having a fun J life!</h4>
    </div>
    
    <div class="row justify-content-center pt-3">
      <div class="col-md-12">
        <p>
          <u>3 simple rules here!</u></br>
          We have a lot of people from different backgrounds.
        </p>
      </div>
     </div>
     <div class="row justify-content-center">
      <div class="col-md-12">
        <li>Appreciates the difference</li>
      </div>
     </div>
     <div class="row justify-content-center">
      <div class="col-md-12">
        <li>Do not use aggressive words</li>
      </div>
     </div>
     <div class="row justify-content-center pb-3">
      <div class="col-md-12">
        <li>No hate speech / no racisms are allowed</li>
      </div>
     </div>
  </div>
</div>
</div>