@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&family=Raleway&display=swap');

body {
    font-family: 'Raleway', 'Noto Sans JP', sans-serif;
}

.logo {
    font-family: 'Pacifico', cursive;
}

.footer-fix {
  min-height: 100vh; 
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #D2691E;
  color: #fff;
 }
 
// To change "ファイルを選択" to English (users/edit)
input[type="file"] {
    display: none;
}

label {
    padding: 10px 30px;
    color: #000;
    background-color: #FFC7AF;
    cursor: pointer;
    border-radius: 10px;
}

// $('input').on('change', function () {
//     var file = $(this).prop('files')[0];
//     $('script').text(file.name);
// });