@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&family=Raleway&display=swap');

body {
    font-family: 'Raleway', 'Noto Sans JP', sans-serif;
}

.logo {
    font-family: 'Pacifico', cursive;
}

.footer-fix {
  min-height: 100vh; 
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #FFCC00;
  color: #fff;
 }