<!--M:Post comment-->
<div class="row mb-2 justify-content-center">
  <%= form_with model: [problem, problem_comment_new] do |f| %>
    <div class="row justify-content-center">
      <%= f.text_area :comment, rows: '5', placeholder: t(".comment_placeholder"), size: "45x5" %>
    </div>
    <div class="row pt-3 justify-content-end">
      <%= f.submit t(".post_button"), class:"btn btn-warning btn-sm" %>
    </div>
  <% end %>
</div>