<!--M:Indent fixed-->
  <% if problem.bookmarked_by?(current_user) %>
    <div id="unbookmark_<%= problem.id %>">
      <%= render 'public/bookmarks/unbookmark', problem: problem %>
    </div>
  <% else %>
    <div id="bookmark_<%= problem.id %>">
      <%= render 'public/bookmarks/bookmark', problem: problem %>
    </div>
  <% end %>