<!--bookmark index-->
<% content_for(:title, 'Bookmark index') %>
<div class="container pt-3">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <% if @problem.present? %>
                    <%= render @problem %>
                <% else %>
                    <p><%= t(',no_title') %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>